.ag-header-cell-menu-button {
  opacity: 1 !important;
}

body {
  background-color: #f0f8ff;
}

h1 {
  font-family: Arial, sans-serif;
  font-size: 36px;
  color: #333;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}


input {
  width: 300px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

button {
  width: 200px;
  height: 50px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
}

button:hover {
  transform: scale(1.1);
}




.map-container {
  width: 800px;
  height: 600px;
}

.form-container {
  width: 400px;
  height: 420px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  transition: transform 0.3s ease-in-out;
  }
  
  .form-container:hover {
    transform: scale(1.1); 
  }

  .parent {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 50vh; 
  }


  input[type=text]:focus {
    border-bottom-color: #333; 
  }
  