
.navbar {
    background-color: yellow; 
  }
  
  .navbar-brand {
    color: brown; 
    margin-right: 50px; 
  }
  .navbar-brand p {
    font-size: 24px; 
    font-weight: bold; 
  }
  
  .nav-link {
    color: white; 
    font-size: 24px; 
    font-family: Arial, sans-serif; 
    background-color: skyblue; 
    border-radius: 10px; 
    padding: 10px; 
    margin-right: 80px; 
  }
  
  .nav-link:hover {
    color: green; 
    font-size: 28px; 
  box-shadow: 5px 5px 10px black; 

  }
  
  .btn-outline-secondary {
    color: skyblue; 
    border-color: skyblue; 
}
  
  .btn-outline-secondary:hover {
    background-color: skyblue; 
    color: white; 
  }
  
  .navbar-nav {
    margin: 0 auto;
  }
  
  .navbar-brand img {
    display: block; 
    margin: auto; 
    width: 30%; 
  }
  .navbar-brand p {
    clear: right; 
    text-align: right; 
    margin-right: 10px; 
  }  


